html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    opacity: 1;
    transition: 3s opacity;
    letter-spacing: .2vw;
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
    overflow-x: hidden; /*Prevents horizontal scroll bar from appearing when quote is hovered*/
    user-select: none; /*Prevents text on webpage from being highlighted*/
}

body.fade-out {
    opacity: .1;
}

h1 {
    text-transform: uppercase;
    font-family: "Trebuchet MS", Optima;
    text-align: center;
    margin-top: 3%;
    color: #1a1a1a;
}

h1:hover {
    filter: grayscale(5%);
    transform: scale(1.1);
    transition: transform 1s;
}

.white-text {
    color: #fff;
    padding-top: 10vh;
}

/*--------Paragraph-----------*/

p {
    font-family: Arial, Helvetica, sans-serif Bold;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}


p:hover {
    transition: transform 1s;
	transform: scale(1.01);
}

/*-------Center Elements---------*/

.center {
    text-align: center;
}

.center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

/*------Anchor elements---------*/
a {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

/*-----Quotation elements-------*/
q {
    font-style: italic;
}

/*-----Image elements-----------*/

img {
    filter: grayscale(75%);
    border-radius: 8px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto auto auto auto;
}

img:hover {
	filter: grayscale(5%);
    transition: transform 1s;
	transform: scale(1.1);
}

/* The @media rule is used in media queries to apply different styles for different media/types of devices */
/* On screens 576px and smaller the images will be 100px tall and centered vertically in the column */
@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

/* Footer element */
footer {
    padding: 2%;
    background-color: white;
}
/***** END GENERAL STYLING *****/

/***** NAVBAR STYLING *****/
.Navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5s; 
    animation: moveNav 5s; 
}

/* moveNav animation effect for moving the nav bar in from the left of the screen */
@keyframes moveNav {
    from {left: -100vw;} 
    to {left: 0vw;} 
}

/* Navbar links */
.Navbar a {
    float: left;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Avant Garde, Helvetica;
    font-size: 20px;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 5.75s; 
    animation: moveNavText 5.75s; 
}

/* moveNavText animation effect for moving the navbar text from above the view to the navbar */
@keyframes moveNavText {
    from {top: -100vw;} 
    to {top: 0vw;} 
}

/* Screens 576px and smaller will display navbar links equally distributed */
@media screen and (max-width: 576px) {
    .Navbar a{
        width: 25%;
        font-size: 12px;
    }
}

/* Navbar hover effects */
.Navbar a:hover {
    background-color: #f4f4f4;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in;
}

/* Navbar home button */
.Navbar a.active {
    background-color: darkgray;
}
/***** END OF NAVBAR STYLING *****/

/***** VIDEO STYLING *****/
/* Formatting for background video */
#Typing_Video {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}

/* Screens that are 576px and smaller will not display the background video */
@media screen and (max-width: 576px) {
    #Typing_Video {
        display: none;
    }
}

/* Texts over the video */
.Video_Text {
    background: rgba(67, 67, 67, 0.5);
    color: white;
    width: 100%;
    padding: 20px;
    position: relative;
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

/* This animation effect causes the overlay video text to move up from the bottom of the page upon page load */
@keyframes moveVideoText {
    from {top: -100vw;} 
    to {top: 0vw;}
}
/***** END OF VIDEO STYLING *****/

/******Slideshow Styling******/
#Slideshow_Background {
    background: rgba(255, 255, 255, 0.35); /*slightly transparent background placed over background video*/
}

.mySlides {
    display: none; /*Prevents image from being displayed without JS*/
}

/*Slideshow section container*/
#Slideshow_Container {
    width: 39.5vw; /*Relative sizing of container for slideshow set to 39.5% of viewport width*/
    height: auto; /*Container heigh automatically adjusted based on content displayed*/
    padding-top: 4%; /*Small padding to top of slideshow container*/
    position: relative; /*Sets container relative to normal positioning*/
    margin: auto; /*Horizontally center container on page*/
}

/*Remove underline from previous and next buttons on slideshow*/
#Slideshow_Container a {
    text-decoration: none;
}

.Slideshow_Images {
    vertical-align: middle; /*Centers image vertically within container*/
    height: auto; /*Height of images automatically adjusted based on content (size) of images*/
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75); /*Adds shadow around slideshow images*/
    width: 100%; /*Width of images automatically adjusted based on content*/
}

.Previous, .Next {
    cursor: pointer; /*Changes mouse to pointer when buttons are selected*/
    position: absolute; /*positions next and previous buttons relative to slideshow container*/
    top: 50%; /*Moves buttons up in slideshow container*/
    width: auto; /*Width of buttons is automatically adjusted based on content*/
    padding: 2vw; /*Adds padding equal to 2% of viewport width*/
    color: darkgray;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0; /*Slightly rounded border to top and bottom right corners*/
    user-select: none; /*User cannot highlight text*/
    transition: 0.6s ease; /*Hover transition for elements*/
}

/*Next button positioned on right hand side*/
.Next {
    right: 0; /*Moves button to right side of slideshow container*/
    border-radius: 3px 0 0 3px; /*Changes border radius on next buttom to top and bottom left of button*/
}

/*Hover effect on slideshow buttons*/
.Previous:hover, .Next:hover {
    background-color: rgba(0, 0, 0, 0.8); /*Background of arrows a transparent grey*/
    color: white; /*Arrows white on hover*/
}

/*Slideshow Text*/
.text {
    color: white;
    padding: 1vw;
    position: absolute; /*Keeps text position within image*/
    bottom: 0; /*Sets text within bottom of image*/
    width: 100%; /*Element covers full width of image*/
    text-align: center; /*Centers text within image*/
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw; /*Slight spacing between letters*/
    font-size: 1.5vw; /*Relative font size to viewport width*/
    background-color: rgba(0, 0, 0, 0.75); /*Slight transparent black background*/
    font-weight: bold;
    border-radius: 0px 0px 7px 7px; /*Rounded corners on bottom left and right for text background*/
}

/*Dot styling under slideshow*/
.dot {
    cursor: pointer; /*Cursor changes to pointer when dots hovered over*/
    height: 1vw; /*relatively sized dots to viewport width*/
    width: 1vw;
    margin: .25vw; /*additional spacing between dots*/
    background-color: white; /*dots white*/
    border-radius: 50%; /*rounds corner of dots*/
    display: inline-block; /*displays dots next to each other instead of new line*/
    transition: background-color 0.6s ease; /*When dots clicked or hovered over, transition to a different color*/
    z-index: 1; /*Dots displayed above other elements*/
}

/*Hover effect for slideshow dots*/
.active, .dot:hover {
    background-color: black; /*Sets color of dots when active or hovered*/
}

/*Fading animation for slideshow*/
.fade {
    animation-name: fade; /*Fade animation below*/
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;} /*Starts transparent*/
    to {opacity: 1;} /*Ends opaque*/
}

@keyframes fade {
    from {opacity: .4;} /*Starts transparent*/
    to {opacity: 1;} /*Ends opaque*/
}

/******End Slideshow Styling******/

/***** TABLE STYLING -  this section covers the styling of the columns and rows within the table *****/
* { /*Asterisk is a universal selector that applies this effect to all elements on page*/
    box-sizing: border-box;
} 

.Column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    height: 400px;
    background-color: #f2f2f2;
}

/*Screens 576px and smaller will display scroll bar if text overflows column height*/
@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: #4d4d4d;
}


.Column_tall {
    padding-top: 3.5%;
    height: 450px;
}


.Row:after {
	content: "";
	display: table;
	clear: both;
}
/***** END OF TABLE STYLING *****/

/***** CONTACT FORM STYLING *****/
/*Button used to open contact form - fixed at bottom of page*/
.Pop_Up_Button {
    position: fixed; /*Element positioned relative to viewport and stays in same location*/
    bottom: 1.75vw; /*Positions button slightly up from bottom of viewport*/
    right: 1.75vw; /*Positions viewport slightly right from side of viewport*/
    width: 25vw; /*Sets width relative to viewport width*/
    background-color: white; /*Sets background color of button to white*/
    color: black; /*Sets color of button text to black*/
    border: solid black; /*Makes solid black border around button*/
    cursor: pointer; /*Changes cursor when hovered over button to pointer*/
    -webkit-animation: movePopup 5s; /*Animation for 5 seconds for Safari 4.0-8.0*/
    animation: movePopup 5s; /*Animation set for 5s*/
}

/*movePopup animation moves button from off right side of screen to fixed location on viewport*/
@keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

/******Styling for the contact form******/
.form-popup {
    z-index: 8; /*Z-index ensures contact form shows above all other elements on page*/
    display: none; /*Set display to none, will use JavaScript to show the contact form*/
    position: fixed; /*Form stays in the same location*/
    bottom: .5vw; /*Slightly up from bottom of viewport*/
    right: .5vw; /*Slightly in from right side of viewport*/
}

/*Form styling*/
.form-container {
    max-width: 49vw; /*Relative sizing of form container - 49% of the viewport width*/
    padding: 1vw; /*Adds padding between form-popup and form-container*/
    background-color: white; 
}

/*Input fields*/
.form-container input[type=text] {
    width: 100%; /*Input boxes completely fill width of form-container*/
    padding: .93vw; /*Adds padding to input boxes*/
    margin: .6vw 0 .6vw 0; /*Adds space between input boxes and labels*/
    border: none; /*Removes border from input boxes*/
    background: Gainsboro; /*Sets background color of input boxes*/
    font-size: 1vw; /*Relative font sizing based on width of viewport*/
}

/*General styling for all buttons*/
button {
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw; /*Adds slight spacing between letters*/
    font-size: 1.5vw; /*Relative sizing of text*/
    font-weight: bold; 
    padding: 1.5vw; /*Adds padding to text in button*/
    cursor: pointer; /*Changes cursor to pointer over button elements*/
    width: 100%; /*Sets width of buttons to 100% of their containers*/
    height: auto; /*Allows height to be resized depending on content showing*/
}

/*Hover effect for contact and submit buttons*/
button:hover, .form-container .btn:hover {
    color: white; /*Makes text in buttons white when hovered over*/
    background-color: black; /*Background of button changes to black when hovered over*/
    transition-duration: 1s; /*Makes transition last 1 second*/
    -webkit-transition-duration: 1s; /*For Safari 4.0-8.0*/
    border-color: silver; /*Border turns silver when button is hovered over*/
}

/*Submit button*/
.form-container .btn {
    background-color: white; 
    color: black;
    border-color: black;
    margin-bottom: 1vh; /*Adds space between submit button and close button*/
}

/*Close button*/
.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}

/*Styling for close button on hover*/
.form-container .cancel:hover {
    color: white;
    background-color: darkred;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}
/***** END OF CONTACT FORM STYLING *****/
